* 
  padding: 0
  margin: 0
  box-sizing: border-box

.z-table 
  // display: flex
  background: #f7f7f7

  .z-table-body
    display flex
    .z-table-wrapper
      color: #666

  .z-table-top
  .z-table-body-container
    font-size: 14px
    max-width: 900px

  .z-table-top
    .scroll-outer 
      .scroll-inner
        overflow-y: hidden
        padding-bottom 17px

  .z-table-left
    float: left
    width: auto

    .scroll-outer 
      .scroll-inner
        overflow-x: hidden
        padding-right 17px
        width 100%

  .scroll-outer
    width: 100%
    position: relative
    overflow: hidden

    .scroll-inner
      position: relative
      overflow: scroll
      background: #f7f7f7
      font-weight: bold
      box-sizing content-box

  .z-table-row
    width: 100%
    display: flex
    flex-wrap: nowrap
    // border-bottom 1px solid #333;

  .cell-group-header
    height: 50px
    // border: 1px solid #333

  .cell-group-container
    display: inline-flex

  .z-table-thead
    .z-table-cell
      // border: 1px solid #333

  .z-table-vertical-row
    display: block

  .z-table-vertical-cell-group
    display: flex
    flex-shrink 0

    .cell-group-container
      display: block

    .cell-group-header
      width: 100px
      border-right 1px solid #333;

    .cell-group-container
      .z-table-cell
        .z-table-cell-inner
          border-right 1px solid #333;

  .z-table-tbody
    .z-table-cell 
      background #fff
  
  .z-table-cell-inner
  .cell-group-header
    padding 10px

  .z-table-cell
  .cell-group-header
    border-bottom 1px solid #333;

  .z-table-cell
    .z-table-cell-inner
      // height 49px
      // width 100px
