* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.z-table {
  font-size: 14px;
  color: #666;
  transition: opacity 0.3s ease;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
  max-width: 900px;
}

.z-table-wrapper {
  /* min-width: 500px; */
  /* width: 100%; */
  white-space: nowrap;
  box-sizing: content-box;
}

.z-table-header {
  /* padding-bottom: 17px; */
}

.z-table-cell-group {
  /* white-space: nowrap; */
  min-width: 100px;
  display: inline-block;
}

.z-table-cell-group .cell-group-header {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  height: 50px;
}

.z-table-header .z-table-cell {
  border: 1px solid #333;
}

.z-table-cell-outer {
  position: relative;
}

.z-table-cell {
  white-space: nowrap;
  min-width: 100px;
  display: inline-block;
  padding-left: 10px;
  /* box-sizing: content-box; */
  overflow: hidden;
  height: 50px;
}

.z-table-cell-inner {
  display: table-cell;
  vertical-align:middle;
  padding: 0;
}

.scroll-outer {
  /* height: 41px; */
  width: 100%;
  position: relative;
  overflow: hidden;
}

.scroll-inner {
  position: relative;
  /* padding-bottom: 17px; Increase/Decrease this value for cross-browser compatibility */
  overflow: scroll;
  box-sizing: content-box;
  background: #f7f7f7;
  font-weight: bold;
  font-size: 14px;
}
